<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="/static/images/logo-white.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<style>
  body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


</style>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <div class="me-3">
              <img src="/static/images/logo.png" alt="logo" width="80px" height="80px">
              
    </div>
            <span class="fs-4 mt-2" style="color:rgb(49, 108, 244);">Spring Foundation <br><p style="color: black; font-size: 15px; font-weight: 300;line-height: 10px;">Serve with all your heart</p></span>
          </a>
    
          <ul class="nav nav-pills mt-4">
            <li class="nav-item"><a href="/index.html" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/templates/about.html" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/templates/projects.html" class="nav-link">Projects</a></li>
           
            <li class="nav-item"><a href="/templates/Q&A.html" class="nav-link">Q&A</a></li>
              <li class="nav-item"><a href="/templates/contacts.html" class="nav-link">Contacts</a></li>
    
          </ul>
        </header>
      </div>
      <h1 style="text-align: center; color:rgb(49, 108, 244); margin-top: 20px;">Our Team</h1>
      <div class="d-flex justify-content-center" style="margin-top: 30px;"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">President:</span> Yixin Feng <br><p style="margin-top: 5px; font-size: 18px;">Yixin Feng has been the president of Spring Foundation since the 2024 Spring term</p></h5>
          
          <img src="/static/images/yixin.jpeg" alt="yixin"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block;object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Internal Vice President:</span> Justine Xie <br><br><p style="margin-top: 5px; font-size: 18px;">Justine is a junior majoring in Economics and minoring in Data Science. She was originally born in Chicago and grew up in Shanghai. In her free time, she enjoys playing the flute & ukulele, art journaling, skiing, badminton, and watching sunsets. She hopes to serve with all her heart.</p></h5>
          
          <img src="/static/images/justine.png" alt="justine"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">External Vice President:</span> Jessica Xu <br><p style="margin-top: 5px; font-size: 18px;">Jessica Xu has been the president of Spring Foundation since the 2024 Spring term</p></h5>
          
          <img src="/static/images/jessica.jpeg" alt="jessica"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Mume Program Leader:</span> Will Dong <br><br><p style="margin-top: 5px; font-size: 18px;">Will Dong, He/Him/Hims, Co-Project Lead of Mume Program, 
            Leads the overall vision and growth strategy of Spring Foundation.
            
            . <br> <br>

            Bio:
            Sophomore at UC Berkeley, Majoring in Molecular Environmental Biology, prospectively double major in Chemical Biology. Will is passionate about improving education equality in rural China. 



            <br><br>
            Fun Fact:
            Will is always sleep deprived because he can't help but reading novel. 



            <br><br>
            Quote:
            "Today's mighty oak is just yesterday's nut, that held its ground."</p></h5>
          
          <img src="/static/images/will.pic.jpg" alt="will"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Mume Program Leader:</span> Yuheng Wang <br><p style="margin-top: 5px; font-size: 18px;">王宇恒 大二学生</p></h5>
          
          <img src="/static/images/yuheng.pic.jpg" alt="yuheng"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Mume Program Member:</span> Amelia Jin <br><br><p style="margin-top: 5px; font-size: 18px;">Amelia Jin, She/Her/Hers, member of mume program<br><br>
            Bio:
            I am a sophomore at UC Berkeley double majoring in economics and data science. I am passionate about volunteering and tutoring.
 <br><br>
            Fun Fact:
            In my free time, I like to hang out with friends and try new foods.
 <br><br>
            Quote:
            "Education is the most powerful weapon which you can use to change the world."</p></h5>
          
          <img src="/static/images/amelia.pic.jpg" alt="amelia"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Mume Program Member:</span> Eliza Cao <br><br><p style="margin-top: 5px; font-size: 18px;">Yuexuan Cao, She/Her/Hers
            
            <br><br>
            Bio:
            Junior student majoring in Economics. Deeply interested in education issues and aims to make a positive impact in this field. <br><br>
            Fun Fact:
            A passionate fan of musicals and enjoys exploring their stories and performances. <br><br>
            Quote:
            "The world kissed me with pain, and asked me to repay with a song."</p></h5>
          
          <img src="/static/images/eliza.pic.jpg" alt="eliza"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Mume Program Member:</span> Qinggao Hong <br><br><p style="margin-top: 5px; font-size: 18px;">Qinggao Hong, He/Him/Hims<br><br>
            Bio:
            Junior at UC Berkeley, majoring in CS and minoring in Logic. Passionate about helping underprivileged communities through personal efforts.
 <br><br>
            Fun Fact:
            He’s an active member of the official 3Blue1Brown Chinese subtitle translation group on Bilibili.
 <br><br>
            Quote:
            "Happiness is the highest good."</p></h5>
          
          <img src="/static/images/qinggao.pic.jpg" alt="qinggao"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Mume Program Member:</span> Matthew Chen<br><br><p style="margin-top: 5px; font-size: 18px;">Matthew Chen, He/Him/Hims<br><br>
            Bio:
            I am a Junior student at Cal majoring in Physics. I am passionate about using physics to provide sustainable solutions to energy. 

 <br><br>
            Fun Fact:
            I have was a CIF Division One Badminton Champion

 <br><br>
            Quote:
            "Fiat Lux!"</p></h5>
          
          <img src="/static/images/matt.pic.jpg" alt="matt"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Read With Me Program Leader:</span> Iris Zhu <br><br><p style="margin-top: 5px; font-size: 18px;">Iris Zhu, She/Her/Hers <br><br>Bio:
            Iris is a junior architecture major with a minor in history. She is passionate about bringing the joy of reading to underprivileged children and creating a communication space where students feel safe, dignified, and invigorated.
            <br><br>
            Fun Fact:
            Enjoys browsing game commentaries in her free time.
            <br><br>
            Quote:
            “The world is full of magic things, patiently waiting for our senses to grow sharper..”</p></h5>
          
          <img src="/static/images/iris.pic.jpg" alt="iris"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Flow Program Leader:</span> Margaret Jing <br><br><p style="margin-top: 5px; font-size: 18px;">Margaret Jing, She/Her/Hers, Project Leader of Flow
            Leads the Project “Flow”, dedicated to combating educational inequality for girls at an economic disadvantage
            . <br> <br>

            Bio:
            Sophomore at UC Berkeley, majoring in Political Economy


            <br><br>
            Fun Fact:
            Loves musical shows, and Hamiliton is the favorite one so far


            <br><br>
            Quote:
            “I’m rooted, but I flow.”</p></h5>
          
          <img src="/static/images/margaret.pic.jpg" alt="margaret"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Flow Program Member:</span> Sherry Yang <br><p style="margin-top: 5px; font-size: 18px;">杨雪滢Sherry，UCB Sophomore，intended major：math+data science</p></h5>
          
          <img src="/static/images/sherry.pic.jpg" alt="sherry"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      
      
      
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Flow Program Member:</span> April Geng <br><p style="margin-top: 5px; font-size: 18px;">HHi everyone! I am April Geng, a junior from the Bay Area. I am currently studying in Data Science and Econ, and I like to sing and make art pieces in my spare time. This is my first semester at the Spring Foundation, and I am really enjoying it :D.</p></h5>
          
          <img src="/static/images/april.jpg" alt="april"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>

      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Operational Vice President:</span> Xiaoyu Fan <br><br><p style="margin-top: 5px; font-size: 18px;">Xiaoyu Fan, She/Her/Hers, Used to be a team member of the project Flow. <br> <br>

            Bio:
            Junior at UC Berkeley, double majoring in Sociology and Social Welfare. Passionate about studying and addressing educational inequalities, with a specific interest in their impact on social and intergenerational mobility.
            <br><br>
            Fun Fact:
            I’ve recently fallen in love with cooking Cantonese soups and dishes, which reminds me of my hometown - Guangdong! ^^
            <br><br>
            Quote:
            "I dream of a world where every child has equal access to education, empowering them to pursue their dreams."</p></h5>
          
          <img src="/static/images/xiaoyu.jpg" alt="xiaoyu"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>

      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Read With Me Program Member:</span> Harry Qian <br><br><p style="margin-top: 5px; font-size: 18px;">Harry Qian, He/Him/Hims <br><br>
            
            
            Bio:
            A junior majoring in Physics and minorning in EECS, originally from the vibrant city of Rome, Italy. Harry is passionate about staying active, with badminton and fitness being his go-to activities. He values connection and growth, always looking to make new friends and share ideas.
            <br><br>
            Fun Fact:
            Despite his busy schedule, Harry never misses a chance to smash on the badminton court.
            <br><br>
            Quote:
            "Strength grows in the moments when you push past your limits."</p></h5>
          
          <img src="/static/images/harry.pic.jpg" alt="harry"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Advisor:</span> Tony Tan <br><br><p style="margin-top: 5px; font-size: 18px;">Tony Tan, He/Him/Hims <br><br>
            
            
            Bio:
            Senior at UC Berkeley, majoring in Economics and Statistics. Zixun is passionate about rural education and poverty alleviation in China

            <br><br>
            Fun Fact:
            Love board game
            <br><br>
            Quote:
            "early is on time, on time is late, and late is unacceptable."</p></h5>
          
          
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Read With Me Program Member:</span> Unieng Sit <br><br><p style="margin-top: 5px; font-size: 18px;">Unieng Sit, She/Her/Hers <br><br>
            
            
            Bio:
            A junior double majoring in economics and data science. Passionate about education and public service.

            <br><br>
            Fun Fact:
            Takes a physical education class every semester (archery, golf, ballroom dance, k-pop dance etc)

            <br><br>
            Quote:
            “The best time to plant a tree was twenty years ago. The second best time is now.”</p></h5>
          
          <img src="/static/images/uni.pic.jpg" alt="uni"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Advisor:</span> Dalton Meng <br><br><p style="margin-top: 5px; font-size: 18px;">Dalton Meng, He/Him/Hims <br><br>
            
            
            Bio:
            Hi! My name is Tianye Meng and I am a 4th year studying CS  & Math at UC Berkeley. In my free time, I love cooking睡觉写代码大乱斗.

            <br><br>
            Fun Fact:
            我喜欢吃双皮奶！

            <br><br>
            Quote:
            “血染带我一个”</p></h5>
          
          <img src="/static/images/dalton.png" alt="dalton"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Read With Me Program Member:</span> Lindsay Yi <br><br><p style="margin-top: 5px; font-size: 18px;">Lindsay Yi, She/Her/Hers <br><br>
            
            
            Bio:
            Junior at UC Berkeley,  majoring in Data Science and Economics. Love street and film photography, traveling, nature, boba, puppies, and museums.



            <br><br>
            Fun Fact:
            Phone Eats First


            <br><br>
            Quote:
            “Put everything aside and eat first.”</p></h5>
          
          <img src="/static/images/lindsay.pic.jpg" alt="lindsay"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Read With Me Program Member:</span> Clare Ai <br><br><p style="margin-top: 5px; font-size: 18px;">Clare Ai, She/Her/Hers <br><br>
            
            
            Bio:
            Senior at UC Berkeley, majoring in Architecture.



            <br><br>
            Fun Fact:
            is Clare Ai not ai



            <br><br>
            Quote:
            "Less is more"</p></h5>
          
          <img src="/static/images/clare.pic.jpg" alt="clare"  class="card-image rounded" style="width: 120px; height: 120px; float: inline-end; display: inline-block; object-fit: cover;">
        </div>
      </div></div>
      <div class="d-flex justify-content-center mt-3"><div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;"><span style="color:rgb(49, 108, 244);">Mume Program Leader:</span> Fanjia Yan <br><br><p style="margin-top: 5px; font-size: 18px;">Fanjia Yan, He/Him/Hims <br><br>
            
            
            Bio:
            Master student at UC Berkeley, majoring computer science. Fanjia is passionate about rural education in China and spearheading initiatives for asynchronous learning.




            <br><br>
            Fun Fact:
            Loves video game and spends his free time in Silent hill.




            <br><br>
            Quote:
            "Education empowers us to build a better world."</p></h5>
          
        </div>
      </div></div>
      
      
      
      
        <a href="/templates/about.html"><div class="d-flex justify-content-center align-items-center" style="margin-top: 50px;"><button type="button" class="btn btn-primary">Return</button></div></a>

        <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/index.html" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/templates/about.html" class="nav-link px-2 text-body-secondary">About</a></li>
            <li class="nav-item"><a href="/templates/projects.html" class="nav-link px-2 text-body-secondary">Projects</a></li>
            
            <li class="nav-item"><a href="/templates/Q&A.html" class="nav-link px-2 text-body-secondary">Q&A</a></li>
            <li class="nav-item"><a href="/templates/contacts.html" class="nav-link px-2 text-body-secondary">Contacts</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2024 Spring Foundation @ University of California, Berkeley</p>
        </footer>
      </div>
      
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>
